:root {
    --white: #ffffff;
    --black: #000000;
    --lightseagreen: #20b2aa;
    --darknavyblue: #02075d;
}
* {
    color: var(--fontColor);
    box-sizing: border-box;
}
body {
    background: var(--bg);
}

li {
    list-style: circle;
}
.light-theme {
    --bg: var(--lightseagreen);
    --fontColor: var(--black);
    --btnBg: var(--darknavyblue);
    --btnFontColor: var(--lightseagreen);
}
.dark-theme {
    --bg: var(--darknavyblue);
    --fontColor: var(--white);
    --btnBg: var(--lightseagreen);
    --btnFontColor: var(--darknavyblue);
}
.image {
    width: 350px;
    height: 450px;
}
.btn {
    position: absolute;
    top: 30px;
    right: 50px;
    max-height: 100%;
    max-width: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px outset red;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}