:root {
    --white: #ffffff;
    --black: #000000;
    --lightseagreen: #20b2aa;
    --darknavyblue: #02075d;
}
* {
    color: var(--fontColor);
}
body {
    background: var(--bg);
}
h1 {
    font-size: 3vw;
}
h2 {
    font-size: 2vw;
}
h3 {
    font-size: 1.5vw;
}
h4 {
    font-size: 1.25vw;
}
p {
    font-size: 1.25vw;
}
li {
    list-style: circle;
    font-size: 1.25vw;
}
.light-theme {
    --bg: var(--lightseagreen);
    --fontColor: var(--black);
    --btnBg: var(--darknavyblue);
    --btnFontColor: var(--lightseagreen);
}
.dark-theme {
    --bg: var(--darknavyblue);
    --fontColor: var(--white);
    --btnBg: var(--lightseagreen);
    --btnFontColor: var(--darknavyblue);
}
.btn {
    position: absolute;
    text-align: center;
    top: 30px;
    right: 50px;
    height: 8%;
    width: 5%;
    border-radius: 50%;
    border: 3px outset red;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.responsive-width {
    font-size: 1vw;
}