* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: radial-gradient(30% 50% ellipse at center top, #3d32c0ca 0%, rgba(53, 103, 195, 0.555) 100%),
        radial-gradient(30% 50% ellipse at center, #382db1ca 0%, rgba(25, 63, 131, 0.555) 100%),
        radial-gradient(30% 50% ellipse at center bottom, #646262 0%, #000000 100%);
    margin: 1em 1em 1em 1em;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: greenyellow;
}

h2 {
    font-size: 30px;
    color: aqua;
}

h3 {
    font-size: 20px;
    color: coral;
}

h4 {
    color: yellow;
}

a {
    color: yellow;
}

b {
    color: blanchedalmond;
}

p {
    font-size: 19px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
    list-style: square;
    font-size: 20px;
}

img {
    margin: 5px;
}

header {
    text-align: center;
}

section {
    margin: 1em 1em 1em 1em;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}

#lang {
    padding-bottom: 0.7em;
}

#list {
    list-style: circle;
}

#form {
    text-align: center;
    display: block;
    padding-top: 1em;
    color: white;
    font-size: 20px;
}

#mainleft {
    border-right: 1px solid #000000;
}

#mainright {
    margin-left: 30px;
    float: right;
}

.image {
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}